[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-openai = "*"
langchain-core = "*"
black = "*"
python-dotenv = "*"
langchain-tavily = "==0.2.5"
flake8 = "*"
isort = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.13"
